:root{
    --container-background: rgba(255,255,255,0.1)
}

html{
    font-size: 62.5%;
}
.graphs-page__container{
    padding: 50px;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 100%;
    text-align: center;
}

.graphs-page__container > div{
    background: var(--container-background);
    margin: 20px;
    padding: 15px;
    border: black 1px solid;
}

.graphs-page__mini-title{
    font-size: 6rem;
}

.graphs-page__info p{
    font-size: 3rem;
}

.graphs-page__container img{
    width: 500px;
    transition: width 1s;
}

.graphs-page__container img:hover{
    width: 750px;
}