<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- fonts  -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4e47c7cac3.js" crossorigin="anonymous"></script>
  {% load static %}
    <link rel="stylesheet" href="{% static 'utility.css' %}">
      {% load static %}
    <link rel="stylesheet" href="{% static 'graphs.css' %}">
    <title>GRAPHS</title>
  <link rel="stylesheet" href="/titanic/static/style.css">
  <style>

  </style>
</head>

<body>
  <!-- page one -->
      <div class="page-info graphs-page">
        <div class="page-z-index">
          <div class="keep-place">
            <nav class="nav-bar">
              <ul>
                <li><a href="{% url 'home' %}">MAIN</a></li>
                <li class="nav-var__current"><a href="{% url 'graphs' %}">GRAPH</a></li>
              </ul>
            </nav>
          </div>
          <main>
              <div>
                <ul class="graphs__title">
                  <li>G</li>
                  <li>R</li>
                  <li>A</li>
                  <li>P</li>
                  <li>H</li>
                  <li>S</li>
                </ul>
              </div>
              <div class="graphs-page__container">
                  <div>
                    <p class="graphs-page__mini-title">Survive compared Pclass</p>
                    <img src="/static/graph1.png" alt="">
                    <div class="graphs-page__info">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus itaque error vel reprehenderit, neque voluptatem optio, repellendus impedit accusantium corrupti ut nisi nemo excepturi. Magnam consectetur soluta minima optio! Cupiditate culpa deleniti corrupti excepturi eveniet, non vitae sint fugiat perspiciatis recusandae repellendus itaque ipsa quisquam libero quod illum exercitationem dolore!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatem iusto repellat obcaecati eius saepe praesentium? Dolorum tempora doloribus similique.</p>
                    </div>
                  </div>
                  <div>
                    <p class="graphs-page__mini-title">Survive compared SibSp</p>
                    <img src="/static/graph2.png" alt="">
                    <div class="graphs-page__info">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus itaque error vel reprehenderit, neque voluptatem optio, repellendus impedit accusantium corrupti ut nisi nemo excepturi. Magnam consectetur soluta minima optio! Cupiditate culpa deleniti corrupti excepturi eveniet, non vitae sint fugiat perspiciatis recusandae repellendus itaque ipsa quisquam libero quod illum exercitationem dolore!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatem iusto repellat obcaecati eius saepe praesentium? Dolorum tempora doloribus similique.</p>
                    </div>
                  </div>
                  <div>
                    <p class="graphs-page__mini-title">Survive compared Embarked</p>
                    <img src="/static/graph3.png" alt="">
                    <div class="graphs-page__info">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus itaque error vel reprehenderit, neque voluptatem optio, repellendus impedit accusantium corrupti ut nisi nemo excepturi. Magnam consectetur soluta minima optio! Cupiditate culpa deleniti corrupti excepturi eveniet, non vitae sint fugiat perspiciatis recusandae repellendus itaque ipsa quisquam libero quod illum exercitationem dolore!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatem iusto repellat obcaecati eius saepe praesentium? Dolorum tempora doloribus similique.</p>
                    </div>
                  </div>
              </div>
          </main>
        </div>
  </div>

</body>

</html>