<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- fonts  -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4e47c7cac3.js" crossorigin="anonymous"></script>
  {% load static %}
    <link rel="stylesheet" href="{% static 'utility.css' %}">
    {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="/titanic/static/style.css">
  <style>

  </style>
</head>

<body>
  <!-- page one -->
  <div id="home">
    <div class="page-info" >
        <div class="page-z-index">
          <div class="keep-place">
            <nav class="nav-bar">
              <ul>
                <li class="nav-var__current"><a href="#main">MAIN</a></li>
                <li><a href="{% url 'graphs' %}">GRAPH</a></li>
              </ul>
            </nav>
          </div>
          <main class="main-page">
            <ul class="main-page__title">
              <li>T</li>
              <li>I</li>
              <li>T</li>
              <li>A</li>
              <li>N</li>
              <li>I</li>
              <li>C</li>
            </ul>
            <div class="main-page__container">
              <form action="{% url 'result' %}">
                {% csrf_token %}
                <p>Passenger Class</p>
                <input type="text" name="pclass" placeholder="1 = 1st; 2 = 2nd; 3 = 3rd">
                <p>Sex</p>
                <input type="text" name="sex" placeholder="Male/Female">
                <p>Age</p>
                <input type="text" name="age" placeholder="25">
                <p>Sibsp</p>
                <input type="text" name="sibsp" placeholder="Number of Siblings/Spouses Aboard">
                <p>Parents/children</p>
                <input type="text" name="parch" placeholder="Number of Parents/Children Aboard">
                <p>Fare</p>
                <input type="text" name="fare" placeholder="Passenger Fare">
                <p>Embarked</p>
                <input type="text" name="embarked" placeholder="C = Cherbourg; Q = Queenstown; S = Southampton">
                <p>Full names</p>
                <input type="text" name="title" placeholder="Wirz, Mr. Albert">
                <input type="submit">
              </form>
            </div>

          </main>
          <div class="more-info">
            <a href="#titanic-story"><button class="more-info--btn btn"> <i class="far fa-window-restore"></i> Titanic story</button></a>
          </div>
        </div>
    </div>
  </div>

  
      <!-- page two -->
    <div id="titanic-story">
      <div class="page-two page-info">
          <div class="page-z-index">
            <div class="flex-container">
              <div class="header">
                <header >
                  <div class="header__title">Titanic story</div>
                </header>
              </div>
              <div>
                <main class="story_container">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus itaque error vel reprehenderit, neque voluptatem optio, repellendus impedit accusantium corrupti ut nisi nemo excepturi. Magnam consectetur soluta minima optio! Cupiditate culpa deleniti corrupti excepturi eveniet, non vitae sint fugiat perspiciatis recusandae repellendus itaque ipsa quisquam libero quod illum exercitationem dolore!</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatem iusto repellat obcaecati eius saepe praesentium? Dolorum tempora doloribus similique.</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint consectetur ipsa omnis reprehenderit quibusdam ullam a soluta. Delectus culpa dolores eveniet quam aperiam error at voluptas consequuntur sapiente optio officia mollitia molestiae dignissimos quod, consectetur debitis dolorum iure. Ratione, saepe natus? Consequatur nihil voluptate temporibus eius a aliquid beatae quia illo nostrum, ipsam asperiores, sit magni ullam vel, eveniet fuga.</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet sint, officia beatae, iusto quia quam, voluptate nesciunt tenetur ipsum dolorem porro facere excepturi ad cumque quasi totam repellendus! Mollitia nisi nostrum possimus eaque obcaecati earum iure deserunt explicabo quos? Ipsum, velit! Nisi, totam nemo ex quod vitae sequi provident. Tempore sint amet corrupti impedit ab magni est excepturi dolore rem, consectetur laborum voluptatem ex quas dolor inventore cumque totam, sunt qui numquam corporis? Dolor laborum sapiente perspiciatis rerum ab tempore optio, iusto labore quaerat quam nihil, doloribus et aspernatur veniam aut, pariatur aperiam molestiae deleniti facere sequi est! Saepe!</p>

                  <div class="story_pictures">
                    <img src="/static/pic-titanic.jpg" alt="">
                    <img src="/static/pic-titanic-1.jpg" alt="">
                    <img src="/static/pic-titanic-2.jpg" alt="">
                    <img src="/static/pic-titanic-3.jpg" alt="">
                  </div>
                </main>
              </div>

              <div class="footer">
                <footer class="footer__container">
                  <a href="https://github.com/dorinzrihen/ml_with_django/tree/master/titanic/titanic" target="_blank">My GitHub</a>
                  <i class="fab fa-github"></i>
                </footer>
              </div>

            </div>
          </div>
      </div>
    </div>


</body>

</html>